asn1crypto==1.5.1
bandit==1.7.5
boto3==1.28.75
botocore==1.31.75
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
coverage==7.3.2
cryptography==41.0.5
distlib==0.3.7
dparse==0.6.3
filelock==3.13.1
flake8==6.1.0
gitdb==4.0.11
GitPython==3.1.40
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==1.0.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
moto==4.2.7
numpy==1.26.1
packaging==21.3
pandas==2.1.2
pbr==5.11.1
pg8000==1.30.2
platformdirs==3.11.0
pluggy==1.3.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
Pygments==2.16.1
pyparsing==3.1.1
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
responses==0.23.3
rich==13.6.0
ruamel.yaml==0.18.3
ruamel.yaml.clib==0.2.8
s3transfer==0.7.0
safety==2.3.5
scramp==1.4.4
six==1.16.0
smmap==5.0.1
stevedore==5.1.0
time-machine==2.13.0
types-PyYAML==6.0.12.12
tzdata==2023.3
urllib3==2.0.7
virtualenv==20.24.6
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
Werkzeug==3.0.1
xmltodict==0.13.0
